h1{
    color: red;
    text-align: center;
}

.title{
    background-color: black;
    vertical-align: middle;
}

.SelSeason{
    border: solid;
    vertical-align: middle;
    background-color: rgb(99, 164, 238);
}