h1{
    color: red;
    text-align: center;
}

.title{
    background-color: black;
    vertical-align: middle;
}

.SelSeason{
    border: solid;
    background-color: rgb(99, 164, 238);
}

input
{
  width: 40%;
  height: 30px;
  max-width: 100px;
}
